/* Custom CSS for User Storefront */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fcfcfc;
}
.navbar-user {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.cart-badge {
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 0.65rem;
}
main {
    flex: 1; /* Đẩy footer xuống dưới cùng */
}
.footer {
    background-color: #212529;
    color: #adb5bd;
}
.hover-white:hover {
    color: #ffffff !important;
    transition: 0.3s;
}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
    transition: all 0.3s ease;
}

/*-- login page */
.btn-google { background-color: #db4437; color: white; }
.btn-google:hover { background-color: #c23321; color: white; }
.btn-facebook { background-color: #4267B2; color: white; }
.btn-facebook:hover { background-color: #3b5998; color: white; }
.btn-twitter { background-color: #1DA1F2; color: white; }
.btn-twitter:hover { background-color: #1a91da; color: white; }
.divider:after, .divider:before {
    content: ""; flex: 1; height: 1px; background: #eee;
}
